In [2]:
import numpy as np
import pandas as pd

In [3]:
my_data = [3, 4, 5, 6]

In [4]:
df = pd.Series(data=my_data)

In [5]:
df

0    3
1    4
2    5
3    6
dtype: int64

In [6]:
my_index = ['USA', 'CANADA', 'CHINA', 'BD']

In [7]:
df = pd.Series(my_data, my_index)
df

USA       3
CANADA    4
CHINA     5
BD        6
dtype: int64

In [9]:
df[:2]

USA       3
CANADA    4
dtype: int64

In [14]:
details = {'Name': ['John', 'David', 'Ibrahim', 'Salah'],
          'Age': ['23', '34', '17', '28'],
           'Occupation': ['Student', 'Teacher', 'Player', 'Doctor']
          }

In [15]:
df = pd.DataFrame(details)
df

      Name Age Occupation
0     John  23    Student
1    David  34    Teacher
2  Ibrahim  17     Player
3    Salah  28     Doctor

In [16]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [17]:
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [19]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [21]:
sales_Q1.add(sales_Q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64